# =========================
# BUILD OUTPUT (KHÔNG COMMIT)
# =========================
dist/
*.js
*.d.ts
*.map

# =========================
# NODE / TOOLING
# =========================
node_modules/
.vite/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

